#calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgray;
}

#display {
    padding: 20px;
    font-size: xx-large;
    text-align: end;
    border-radius: 10px;
    background-color: white;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.buttonContainerEnd {    
    display: flex;
    justify-content: end;
    gap: 70px;
}

button {
    width: 50px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    padding-block: 10px;
}


* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator, #display {
    border: 2px solid black;
}